*{
  margin :0;
  padding :0;
  box-sizing: border-box;
}
:root{
  /* --black-color: #191825; */
  --black-color: #000;
  --violet-color :#865DFF;
  --purple-color:#E384FF;
  --light-purple-color:#FFA3FD;
  --white-color:#fefefe;
}
html{
  width: 100%;
  height: 100vh;
  color: var(--white-color);
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: var(--black-color);
  height: 100vh;
  overflow: hidden;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
